<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
     


    
      
      
               
  <!--Start Buttons -->   
  
  <!--Introduction Button --> 

<div class="dropdown">
  <button class="dropbtn">Introduction</button>
  <div class="dropdown-content">
    <a href="https://ugacyberarch.github.io/manual">Getting Started</a>
    <a href="https://ugacyberarch.github.io/manual/conventions.html">Conventions</a>
    <a href="https://ugacyberarch.github.io/manual/note_to_readers.html">Note to Readers</a>
  </div>
</div>


      
<!--Passwords Button--> 
 <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color: Transparent;
  color: #BA0C2F;
  padding: 14px;
  font-size: 16px;
  border-color: #BA0C2F;
  border-style: solid;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #BA0C2F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: Transparent;}

</style>
</head>
<body>

<div class="dropdown">
  <button class="dropbtn">Passwords</button>
  <div class="dropdown-content">
    <a href="https://ugacyberarch.github.io/manual/password_introduction.html">Introduction</a>
    <a href="https://ugacyberarch.github.io/manual/how_passwords_work.html">How Passwords Work</a>
    <a href="https://ugacyberarch.github.io/manual/common_passwords.html">Common Passwords</a>
    <a href="https://ugacyberarch.github.io/manual/reusing_passwords.html">Reusing Passwords</a>
    <a href="https://ugacyberarch.github.io/manual/password_requirements.html">Password Requirements</a>
    <a href="https://ugacyberarch.github.io/manual/passwords_summary.html">Summary</a>
  </div>
</div>

</body>
      
    
<!--Phishing Button --> 
<div class="dropdown">
  <button class="dropbtn">Phishing</button>
  <div class="dropdown-content">
    
     <a href="https://ugacyberarch.github.io/manual/phishing_introduction.html">Introduction</a>
    <a href="https://ugacyberarch.github.io/manual/fake_domains.html">Fake Domains</a>
    <a href="https://ugacyberarch.github.io/manual/fake_links.html">Fake Links</a>
    <a href="https://ugacyberarch.github.io/manual/fake_emails.html">Fake Emails</a>
    <a href="https://ugacyberarch.github.io/manual/phishing_summary.html">Summary</a>
    
     </div>
</div>

 <!-- Ransomware Button -->      
    <div class="dropdown">  
      <button class="dropbtn">Ransomware</button>
      <div class="dropdown-content">
        <a href="https://ugacyberarch.github.io/manual/ransomware.html">What is ransomware?</a>
        <a href="https://ugacyberarch.github.io/manual/data_breaches_leaks.html">Data Breaches & Leaks</a>    
</div>
</div>
      
   <!--Feedback Button -->    
      <div class="dropdown"> 
        <button class="dropbtn">Feedback</button>
        <div class="dropdown-content">
          <a href=" ">Survey</a>     
 </div>
</div>
      
      
      
 <!--End of Buttons -->     
      
      
      
      
      
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
